<div class="navbar navbar-default navbar-static-top" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" rel="home" href="#">
                <img src="img/achieve.ico">
            </a>
            <a class="navbar-brand visible-xs">
                <img src="img/achieve.ico">
                Achieve Corporate Services
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active hidden-xs"><a href="index.php">Home</a></li>
                <li class="hidden-xs"><a href="about.php">About</a></li>
                <li class="hidden-xs"><a href="contact.php">Contact</a></li>

                <li class="visible-xs"><a class="btn btn-block btn-social btn-facebook" href="index.php"><i class="fa fa-home"></i>Home</a></li>
                <li class="visible-xs"><a class="btn btn-block btn-social btn-facebook" href="about.php"><i class="fa fa-info-circle"></i>About</a></li>
                <li class="visible-xs"><a class="btn btn-block btn-social btn-facebook" href="contact.php"><i class="fa fa-mobile"></i>Contact</a></li>

                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="cleaning.php">Cleaning</a></li>
                        <li><a href="security.php">Security</a></li>
                        <li><a href="training.php">Training</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="visible-xs"><hr></li>
                <li class="visible-xs"><a class="btn btn-block btn-social btn-facebook" href="cleaning.php"><i class="fa fa-gears"></i>Cleaning</a></li>
                <li class="visible-xs"><a class="btn btn-block btn-social btn-facebook" href="security.php"><i class="fa fa-gears"></i>Security</a></li>
                <li class="visible-xs"><a class="btn btn-block btn-social btn-facebook" href="training.php"><i class="fa fa-gears"></i>Training</a></li>
                <li class="visible-xs"><hr></li>
                <li class="hidden-xs"><a href="#">Sign in</a></li>
                <li class="visible-xs"><a class="btn btn-block btn-social btn-facebook" href="#"><i class="fa fa-users"></i>Sign in</a></li>
                <li class="visible-xs"><hr></li>

                <li class="visible-xs"><a class="btn btn-block btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i>Like us</a></li>
                <li class="visible-xs"><a class="btn btn-block btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i>Follow us</a></li>
                <li class="visible-xs"><a class="btn btn-block btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i>Connect with us</a></li>

                <li class="hidden-xs"><a href="https://www.facebook.com/AchieveCorporateServices" target="_blank"><i class="fa fa-facebook social-facebook"></i></a></li>
                <li class="hidden-xs"><a href="https://plus.google.com/117887059384561843054/about" target="_blank"><i class="fa fa-google-plus social-google-plus"></i></a></li>
                <li class="hidden-xs"><a href="#"><i class="fa fa-linkedin social-linkedin"></i></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>